.submitButton {
    background-color: rgb(165, 145, 179);
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
}

.input {
    border-radius: 5px;
    padding: 8px;
}

.label {
    font-size: 18px;
}
