.title {
    font-size: 70px;
    margin: 0;
    color: rgb(53, 31, 72);
}

.wrapper {
    border: 1px solid;
    margin-top: 30px;
    max-width: fit-content;
    padding: 40px 60px;
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 221, 234);
}

.App {
    display: flex;
    justify-content: center;
}

.addButton {
    background-color: rgb(165, 145, 179);
    border-radius: 5px;
    padding: 10px;
    margin: 50px 0;
}

.list {
    padding: 0 18px;
}